<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: header">
</head>
<body>
<div id="wrapper">

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <th:block th:each="user : ${list}">
    <tr>
      <th scope="row" th:text="${user.id}"></th>
      <td th:text="${user.userName}"></td>
      <td th:text="${user.password}"></td>
      <td><a th:href="@{/user/changePass/__${user.userName}__}">Change Password</a></td>
    </tr>
    </th:block>
  </tbody>
</table>

</div><!-- #wrapper -->
</body>
</html>